:root {
  /* Fonts sizes */

  --font-size-m: clamp(14px, 8vw, 16px);
  --font-size-l: clamp(16px, 8vw, 20px);

  /* Sidebar */

  --sidebar-show-width: 240px;
  --sidebar-hidden-width: 84px;
  --sidebar-min-width: 180px;

  /* Projects */

  --projects-max-width: 180px;
  --projects-min-width: 140px;

  /* PROJECT ICONS */

  --orange-icon: #bc822b;
  --purple-icon: #7864f1;
  --pink-icon: #de4fa5;
  --green-icon: #55b03f;
  --blue-icon: #2a7de1;
}
