.dark {
  /** BACKGROUND COLORS **/

  --bg-color: #1b1c23;

  /** TEXT COLORS **/

  --text-color: #fff;
  --text-color-hover: #fff;

  --secondary-text-color: #777;

  --label-color: #6e6e6e;

  --backdrop-hint-color: rgba(255, 255, 255, 0.5);

  /** BORDER COLORS **/

  --border-color: #262931;
  --border-color-hover: #2e313a;

  /** PRIMARY COLORS **/

  --primary-color: #3e85ff;
  --primary-color-hover: #2e70e2;
  --primary-color-active: #2968d4;

  --in-primary-color-text: #fff;

  /** PRIMARY BUTTON COLORS **/

  --primary-button-color: #29293a;
  --primary-button-color-hover: #2e70e2;
  --primary-button-color-active: #2968d4;

  --primary-button-text-color: #a3a3a3;
  --primary-button-text-color-active: #fff;

  /** SECONDARY BUTTON COLORS **/

  --secondary-button-color: #20222b;
  --secondary-button-color-hover: #29293a;

  --secondary-button-text-color: #777;
  --secondary-button-text-color-active: #fff;

  /* PRIMARY NAVIGATE LINK */

  --primary-navigatelink-color: #29293a;
  --primary-navigatelink-text-color: #a3a3a3;
  --primary-navigatelink-text-color-active: #fff;

  /* SECONDARY NAVIGATE LINK */

  --secondary-navigatelink-color-hover: #29293a;
  --secondary-navigatelink-text-color-active: #777;

  /* ERROR COLOR */

  --error-color: #ff5353;

  /* SKELETON COLOR */

  --skeleton-from-color: rgba(222, 222, 222, 0.1);
  --skeleton-to-color: rgba(238, 238, 238, 0.05);
}
