.light {
  /** BACKGROUND COLORS **/

  --bg-color: #f1f1f1;

  /** TEXT COLORS **/

  --text-color: #272a34;
  --text-color-hover: #3e85ff;

  --secondary-text-color: #888888;

  --label-color: #888888;

  --backdrop-hint-color: rgba(255, 255, 255, 0.5);

  /** BORDER COLORS **/

  --border-color: #e9e9e9;
  --border-color-hover: #dbdbdb;

  /* STROKE COLORS */

  --stroke-color: #cccccc;

  /** PRIMARY COLORS **/

  --primary-color: #3e85ff;
  --primary-color-hover: #2e70e2;
  --primary-color-active: #2968d4;

  --in-primary-color-text: #fff;

  /** PRIMARY BUTTON COLORS **/

  --primary-button-color: #3e85ff;
  --primary-button-color-hover: #2e70e2;
  --primary-button-color-active: #2968d4;

  --primary-button-text-color: #fff;
  --primary-button-text-color-active: #fff;

  /** SECONDARY BUTTON COLORS **/

  --secondary-button-color: #dbdbdb;
  --secondary-button-color-hover: #cecece;

  --secondary-button-text-color: #888888;
  --secondary-button-text-color-active: #686868;

  /* PRIMARY NAVIGATE LINK */

  --primary-navigatelink-color: #3e85ff;
  --primary-navigatelink-text-color: #888888;
  --primary-navigatelink-text-color-active: #fff;

  /* SECONDARY NAVIGATE LINK */

  --secondary-navigatelink-color-hover: #e4e4e4;
  --secondary-navigatelink-text-color-active: #686868;

  /* ERROR COLOR */

  --error-color: #ff5353;

  /* SKELETON COLOR */

  --skeleton-from-color: rgba(222, 222, 222, 0.65);
  --skeleton-to-color: rgba(238, 238, 238, 0.55);

  /* TASK COLOR */

  --task: #ededed;

  --white: #fff;
}
