@import "./reset.css";
@import "./vars/global.css";
@import "./themes/light.css";
@import "./themes/dark.css";
@import "./animations.css";

.App {
  display: flex;
  min-height: 100lvh;

  color: var(--text-color);

  background-color: var(--bg-color);

  transition:
    color 0.2s linear,
    background 0.2s linear;
}

@keyframes blinkToLeft {
  0% {
    background-position: 0% 50%;
  }
  80% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
