.ShapedIcon {
  display: inline-block;
  height: 17px;

  margin-right: 8px;

  & svg {
    & path:first-child {
      transition: fill 0.2s linear;
    }

    & path:last-child {
      fill: var(--bg-color);
      transition: fill 0.2s linear;
    }
  }
}
