.Task {
  width: 100%;

  background-color: var(--task);

  border: 1px solid var(--border-color);
  border-radius: 12px;

  padding: 12px;

  transition: all 0.2s linear;

  &:active {
    cursor: grab;
  }

  & .Title {
    display: block;

    color: var(--text-color);
    font-weight: 500;

    margin-top: 12px;

    transition: color 0.2s linear;
  }

  & .Description {
    color: var(--secondary-text-color);
    font-size: 14px;

    transition: color 0.2s linear;
  }
}
