.InputContainer {
  position: relative;

  & .Input {
    width: 100%;

    color: var(--text-color);
    font-size: var(--font-size-m);

    background: transparent;

    border: 2px solid var(--border-color);
    border-radius: 5px;

    padding: 12px;

    transition: border 0.2s linear;
    outline: var(--primary-color);
    box-sizing: border-box;

    &:focus {
      border-color: var(--primary-color);
    }

    &:focus + .Label {
      color: var(--primary-color);
    }
  }

  & .Error {
    border-color: var(--error-color);

    & + .Label {
      color: var(--error-color);
    }
  }

  & .Label {
    position: absolute;
    top: -7px;
    left: 12px;

    color: var(--label-color);
    font-weight: 500;
    font-size: 12px;

    background-color: var(--bg-color);

    transition: color 0.2s linear;
    padding: 0 4px;
  }
}
