.TasksBoard {
  flex: 0 0 300px;
  height: fit-content;

  & .BoardHeader {
    & .BoardTitle {
      color: var(--text-color);
      font-size: 16px;
      font-weight: 600;

      transition: color 0.3s linear;
    }

    & .TasksCount {
      color: var(--label-color);
      margin-left: 8px;
    }
  }

  & button {
    width: 100%;
    margin-top: 10px;

    & span {
      font-size: 14px;
    }
  }

  & .TasksContainer {
    margin-top: 10px;
  }
}
