.ProjectHeaderSkeleton {
  display: flex;
  align-items: center;

  width: 100%;
  height: 80px;

  border-bottom: 1px solid var(--border-color);

  padding: 0 18px;

  transition: border 0.2s linear;

  & .Left {
    display: flex;
    align-items: center;
    gap: 12px;

    & div:nth-child(n) :global {
      animation: blinkToLeft 1s linear infinite alternate;
      background: linear-gradient(
        90deg,
        var(--skeleton-from-color) 0%,
        var(--skeleton-to-color) 100%
      );
      background-size: 400%;
    }

    & .Icon {
      width: 25px;
      height: 25px;

      border-radius: 5px;
    }

    & .Title {
      width: 160px;
      height: 24px;
      border-radius: 5px;
    }
  }
}
